$main-bg: #fffcfc;
$footer-bg: #fff8ff;
$product-list-bg: #fdfcff;

$primary-color: #f699a2;
$second-color: #f8def4;
$third-color: #fee6f2;

$highlight: #e899a1;
$header-scroll-bg: #fee6f266;
$mediumgrey: #79747e;
$lightgrey: #b1b5bb;

$txt-main-color: #3c3434;
$txt-second-color: #000;
$txt-third-color: #282626;
$txt-white: #fff;

$btn-main-bg: $primary-color;
$btn-main-color: #fff;

$nav-bar-height: 106px;
$nav-cate-height: 60px;
$nav-cate-mobile-height: 40px;
$header-height: $nav-bar-height + $nav-cate-height;

$header-mobile-height: 60px;
$header-tablet-height: 70px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$mobile-width: 600px;
$tab-port-width: 820px;
$tab-land-width: 1180px;

/*

$main-bg: #fffcfc;
$footer-bg: #fff8ff;
$product-list-bg: #fdfcff;

$primary-color: #5a4c9f;
$second-color: #efc8e2;
$third-color: #fee6f2;

$highlight: #4e2e68;
$header-scroll-bg: #fee6f266;
$mediumgrey: #79747e;
$lightgrey: #b1b5bb;

$txt-main-color: #3c3434;
$txt-second-color: #000;
$txt-third-color: #282626;
$txt-white: #fff;

$btn-main-bg: $primary-color;
$btn-main-color: #fff;

$nav-bar-height: 106px;
$nav-cate-height: 60px;
$nav-cate-mobile-height: 40px;
$header-height: $nav-bar-height + $nav-cate-height;

$header-mobile-height: 60px;
$header-tablet-height: 70px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$mobile-width: 600px;
$tab-port-width: 820px;
$tab-land-width: 1180px;

*/